@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900');

/*General styles*/
.container{
	max-width: 1170px;
	margin: 0 auto;
}

.flex{
	display: flex;
}

.button{
	width: 200px;
	height: 55px;
	border: none;
	color: #fff;
	font: 300 20px/27px 'Raleway', sans-serif;
	text-transform: uppercase;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.border-box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.heading{
	font: 700 90px/27px 'Raleway', sans-serif;
	margin: 0 0 50px;
}

.paragraph{
	font: 300 17px/27px 'Raleway', sans-serif;
	margin: 0 0 17px;
}

.text-wrap{
	width: 580px;
	margin: 0 auto;
	margin-bottom: 45px;
}

.ta_center{
	text-align: center;
}

/*HEADER styles*/

.header{
	position: relative;
	height: 900px;
	background: url(../img/header_bg.jpg) no-repeat 50% center;
	padding: 50px 0 0;
}

.pagetop{
	justify-content:space-between;
}

.header__logo{
	width: 127px;
	height: 52px;
}

.menu{
	max-width: 560px;
}

.menu__nav{
	justify-content: space-between;
    width: 40vw;
	list-style: none;
}

.menu__trigger{
	display: none;
	text-decoration:none;
	color: #262626;
	text-transform: uppercase;
	font: 700 16px/25px 'Raleway', sans-serif;
}

.menu__element {
	display: inline-block;
}

.menu__link{
	text-decoration:none;
	color: #262626;
	text-transform: uppercase;
	font: 700 16px/25px 'Raleway', sans-serif;
}

.menu__link:before{
	content: "";
	left:0;
	top: 9px;
	display: block;
	height: 3px;
	background-color:  #ff6033;
	opacity: 0;
}

.menu__link:hover:before{
	opacity: 1;
}

.promo{
	width: 33%;
	padding-top: 270px;
}

.promo__title{
	margin: 0 0 35px;
	color: #262626;
	font: 800 60px/25px 'Raleway', sans-serif;
}

.promo__text{
	margin: 0 0 25px;
	color: #262626;
}

.promo__button{
	background-color:  #ff6033;
}

.promo__button:hover {
	background-color: #F43500;
}

.header__scroll{
	position: absolute;
	bottom: 69px;
	left: 50%;
	width: 24px;
	margin-left: -12px;
	height: 40px;
	background: url(../img/scroll.png) no-repeat 50%;
	transition: transform .2s ease-in;
}

.header__scroll:hover {
	transform: translateY(-10px);
}

/*ABOUT styles*/

.about{
	height: 700px;
	background-color: #00baba;
	color: #fff;
}

.about--flex{
	justify-content:space-between;
	align-items: center;
}

.about__text{
	width: 500px;
}

/*SERVICES styles*/

.services{
	height: 790px;
	padding: 110px 0;
	background: #70bfff;
}

.services--w50{
	width: 50%;
}

.services--w50:nth-child(1){
	float: left;
}

.services--w50:nth-child(2){
	float: right;
}

.services__list{
	padding: 65px 0 0 80px;
	margin: 0;
}

.service__item{
    display: flex;
    align-items: center;
    max-width: 400px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.service__name {
    width: 75%;
    color: #262626;
    font: 700 20px/27px 'Raleway', sans-serif;
    text-align: center;
}

.service__item:not(:last-child){
	margin-bottom: 20px;
}

.service__icon {
    border-left: 1px solid #9D9D9D;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__icon--cart{
	width: 47px; height: 43px;
	background: url(../img/services_sprites.png) -84px -84px;
}

.service__icon--plant{
	width: 54px; height: 48px;
	background: url(../img/services_sprites.png) -10px -84px;
}

.service__icon--planet{
	width: 53px; height: 53px;
	background: url(../img/services_sprites.png) -84px -10px;
}

.service__icon--carrot{
	width: 54px; height: 54px;
	background: url(../img/services_sprites.png) -10px -10px;
}



.services__title{
	padding: 245px 0;
	color: #fff;
	background: url(../img/tomato.png) no-repeat 50%;
	text-align: center;
}

/*GALLERY styles*/

.gallery{
	height: 1536px;
	padding: 120px 0;
	background-color: #ffe92f;
	color: #262626;
}

.gallery__grid{
	display: grid;
	grid-template: 260px 260px 400px/ 570px 170px 370px;
	grid-gap: 30px;
	margin-bottom: 50px;
}

.gallery__photo--big{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.gallery__photo{
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.gallery__button{
	background-color: #5585a2;
	position: relative;
	left: 42%;
}

.gallery__button:hover{
	box-shadow: 0 0 10px 4px #fff;
}

/*SUBSCRIBE styles*/

.subscribe{
	height: 500px;
	background: url(../img/subscribe_bg.jpg) no-repeat center;
	padding:150px 0;
}

.subscribe__text{
	width: 550px;
	margin-bottom: 30px;
}

.subscribe__h3{
	margin-bottom: 30px;
	font:700 40px/27px 'Raleway', sans-serif;
}

.subscribe__input--email{
	width: 570px;
	height: 55px;
	padding: 15px;
	margin-right: 30px;
	border: 1px solid #262626;
	font:300 15px/27px 'Raleway', sans-serif;
}

.subscribe__input--submit{
	background-color: #96b92c;
}

.subscribe__input--submit:hover{
	color: #355b82;
}

/*BLOG styles*/

.blog{
	height: 864px;
	padding: 110px 0;
	background-color: #b07cf7;
	color: #fff;
}

.blog__previews{
	justify-content: space-between;
	margin-bottom: 50px;
}

.blog__article{
	position: relative;
	display: block;
	width: 370px;
	height: 310px;
	color: #fff;
}

.article{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
	background: linear-gradient(to bottom, transparent, #000);
}

.article:hover{
	background: linear-gradient(to top, transparent, #fff);
}

.article__date{
	border-radius: 5px;
	background-color: rgba(38, 38, 38, 0.5);
	width: 60px;
	height: 60px;
}

.article__date--text{
	font: 700 30px/25px 'Raleway', sans-serif;
}

.article__title{
	font: 700 20px/25px 'Raleway', sans-serif;
}

.article__author{
	font: 300 13px/25px 'Raleway', sans-serif;
}

.blog__button{
	background-color: #f72b3b;
	position: relative;
	left: 42%;
}

/*CONTACT styles*/

.contact{
	height: 866px;
	padding: 115px 0;
	background: url(../img/contact_bg.jpg) no-repeat center;
}

.contact__description{
	width: 370px;
	margin: 0 auto;
	color: #262626;
}

.contact__action{
	width: 100%;
	justify-content: space-between;
}

.contact__form{
	flex-direction: column;
	width: 500px;
	height: 445px;
	justify-content: space-between;
}

.contact__field{
	width: 500px;
	height: 50px;
	padding: 20px;
	border:none;
	background-color: rgba(0, 196, 196, 0.5);
	color: #000;
	font: 300 15px/25px Raleway, sans-serif;
}

.contact__field:focus {
	font-weight: 700;
	background-color: rgba(0, 196, 196, 1);
	border-left: 3px solid #355b82;
	outline:none;
}

.contact__field::placeholder{
	color: white;
}

.contact__field:focused::placeholder{
	font-weight: bold;
}

.contact__field--message{
	resize: none;
	height: 250px
}

.contact__info{
	width: 50%;
	flex-direction: column;
}

.contact__info:nth-child(even){
	font: 300 20px/25px 'Raleway', sans-serif;
	margin-bottom: 15px;
}

.contact__info:nth-child(odd){
	font: 700 17px/25px 'Raleway', sans-serif;
}

/*FOOTER styles*/

.footer{
	justify-content: space-between;
	align-items: center;
	height: 90px;
	background-color: #262626;
}

.copyright{
	color: #b9b9b9;
	font:300 16px/25px 'Raleway', sans-serif;
}

.copyright__link{
	text-decoration: none;
	color: #b9b9b9;
}

.footer__text{
	color: #b9b9b9;
	font:300 15px/25px 'Raleway', sans-serif;
}

.footer__text--pink{
	color:#ff2b58;
}

@media screen and (max-width:910px){
	.menu__nav{
		display: none;
		flex-direction: column;
	}

	.menu__trigger{
		display: block;
		align-self: flex-end;
	}

	.menu__element {
		display: block;
		margin-right: 10px;
		text-align: right;
		background-color:  rgba(85, 133, 162, 0.5);
	}

	.menu__element:hover{
		background-color: #ff6033;
	}
}